html {
	background-color: blue;
	color: white;
	background-size: 100% 100%;
	height: 100%;
	background-attachment: fixed;
}

h1, h2 {
	display: inline-block;
	background-color: green;
	padding: 10px;
}

h2 {
	float: right;
}

.timerArea, .question, .correct, .answer, .gameOver, .startOver {
	background-color: green;
	width: 500px;
}

.unanswered, .numberCorrect, .numberIncorrect, .winner1, .winner2, .blankRow, .numberUnanswered {
	background-color: green;
	width: 500px;
}


body {
	background-color: transparent;
	color: white;
	font-style: Georgia;
	font-size: 20px;
}

.choice1, .choice2, .choice3, .choice4 {
	background-color: green;
	color: white;
	width: 500px;
}

#startButton {
	background-color: green;
	width: 150px;
	height: 75px;
	font-size: 35px;
}

